:root {

    --sepia: #c5af89;

    /* spacing */
    --space-1: 1.5rem;
    --space-2: calc(1.5rem * 1.5);
    --space-3: calc(1.5rem * 1.5 * 1.5);
    --space-4: calc(1.5rem * 1.5 * 1.5 * 1.5);

    /* font  */
    --open-sans: 'Open Sans', sans-serif;
    --oswald: 'Oswald', sans-serif;
}

* {
    /* global reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    line-height: 1.5rem;
    font-size: 1rem;
}

::selection {
    background: var(--sepia);
}

::-moz-selection {
    background: var(--sepia);
}

input:focus {
    border-radius: none !important;
    outline: none !important;
    border-image: initial !important;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    color: black;
}


aside {
    width: 15vw;
    overflow-y: scroll;
    padding: var(--space-1);
    border-right:1px dashed black;
    font-weight:bold;
    background-color: white;
}

#sidebar{
    width: 15vw;
    float: right;
    padding: var(--space-1);
    /* border-left:1px dashed black; */
    height: calc(100% -  var(--space-1) - var(--space-1));
    padding-right: var(--space-2);
    background-color: white;
}

textarea{
    font-family: var(--oswald);
    text-transform: uppercase;
    font-size:14px;
    width: 100%;
    resize: vertical;
}

main {
    margin-left: 15vw;
    width: 70vw;
    padding: var(--space-1);
}

aside,
main {
    background: white;
    position: fixed;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo {
    display: block;
}

nav {
    font-family: var(--oswald);
    margin-top: var(--space-2);
    text-transform: uppercase;
}

/* ========================================================================== */



/* Sidebar Stuff ============================================================ */
.side-title{
    font-size: var(--space-2);
    margin-bottom: var(--space-1);
    z-index: 0!important;
}

.checkpoints{
    font-size: var(--space-1);
    vertical-align: top;
}
.courses_lecture {
    border-bottom: 1px solid transparent;
    white-space: pre-wrap;
}

.courses_lecture:hover {
    cursor: pointer;
}


.courses_topic,
.notes,
.lectures {
    margin-bottom: calc(var(--space-1) / 2);
}

.courses_topic, .notes{
    padding: calc(var(--space-1) / 2) 0;
    position: relative;
    border: 1px dashed black;
    text-transform: uppercase;
    font-size: 110%;
}

.notes:hover,
.courses_topic:hover,
.courses_lecture:hover {
    background-color: black;
    color: white;
}

.notes:hover::before,
.courses_topic:hover::before,
.courses_lecture:hover::before {
    color: black;
}

/* ========================================================================== */



/* DATA ATTRIBUTES  ========================================================= */
[data-collapsed="yes"] {
    background: black;
    color: white;
}

[data-collapsed],
[data-completed] {
    position: relative;
}

[data-watched]::before,
[data-completed]::before {
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    padding: 0 10px 0 10px;

}


[data-watched="yes"]::before,

[data-completed="yes"]::before {
    color: black;
}

[data-watched="no"]::before,
[data-completed="no"]::before {
    font-weight: 400;
}

[data-watched="yes"]::before,
[data-completed="yes"]::before {
    font-weight: 900;
    color: var(--sepia);
}

[data-watched="yes"]:hover::before,
[data-completed="yes"]:hover::before,
[data-watched="no"]:hover::before,
[data-completed="no"]:hover::before {
    color: white;
}

[data-visible="no"] {
    display: none;
}

[data-collapsed="no"]::after {
    content: "+";
}

[data-collapsed="yes"]::after {
    content: "-";
    color: white !important;
}

[data-collapsed="yes"]::after,
[data-collapsed="no"]::after {
    color: black;
    position: absolute;
    top: calc(50% - calc(1.5rem / 2));
    right: calc(var(--space-1) / 2);
}

[data-target] {
    position: relative;
    color: black;
}

[data-target]>*:hover::after {
    color: var(--light-d);
}

.coursename {
    padding: var(--space-1) 0;
    font-size: var(--space-2);
}

/* ========================================================================== */



/*  Scrollbar =============================================================== */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
/* ::-webkit-scrollbar-track {
    background: black;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--sepia);
    max-height: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* ========================================================================== */


/* TIME STUFF =============================================================== */
.time-frame {
    display: inline-block;
    /* height:50px; */
    flex-flow: nowrap;
    width: 100%;
}

.time {
    color: black;
    height: 50px;
    width: 100px;
    display: flex;
    border: 1px dashed black;
    float: left;
    text-align: center;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-weight: bold;
}

.timebtn {
    width: 50px;
    -moz-width: fit-content;
    min-width: fit-content;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border-radius: none !important;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-weight: bold;
}


.total_time {
    background-color: white !important;
    color: black !important;
    position: relative;
    border: 1px solid black;
    border-left: none;

    width: fit-content;
    -moz-width: fit-content;
    min-width: fit-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border-radius: none !important;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-weight: bold;


}

.total_time:before {
    content: "~";
    position: absolute;
    left: -10px;
    z-index: 9999;
    font-size: 50px;
    color: var(--sepia);
    /* transform: rotate(5deg); */
    
}


.timeclock {
    width: 50px;
    -moz-width: fit-content;
    min-width: fit-content;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border-radius: none !important;
    border: 1px inset black;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-weight: bold;
}

/* ========================================================================== */



/* Speed buttons ============================================================ */
.btns {
    display: flex;
    flex-direction: row;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-weight: bold;

}

.speedbtn {
    background-color: black;
    color: white;
    font-family: var(--oswald);
    font-size: var(--space-2);
    margin-top: var(--space-1);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.speed {
    color: black !important;
    margin-top: var(--space-1);
    border: 1px dashed black;
    width: 100px !important;
    -moz-max-width: fit-content;
    max-width: fit-content;
    display: inline-block;
    text-align: center;
    font-family: var(--oswald);
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
}

.speedbtn:hover,
.speedbtn:active,
.speedbtn:focus,
.timebtn:hover,
.timebtn:active,
.timebtn:focus {
    background-color: var(--sepia);
    color: black;
    cursor: pointer;
}

/* ========================================================================== */



/* Notes stuff ============================================================== */
#insert_note{
    border:1px dashed black;
    min-height:100px;
    padding:5px 10px; 
    position: relative;
    z-index:1;
}
#notes_container:before{
    content: "";
    padding: var(--space-1);
    background-color: var(--sepia);
    position: absolute;
    bottom:10px;
    left:-10px;
}

#notes_container{
    position: relative;

}
#confirm_note{
    background-color: black;
    position: absolute;
    top:-20px;
    right: -20px;
    color:white;
    display: inline-block;
    width: auto;
    padding: calc(var(--space-1) / 2);
    margin: auto;
    z-index: 2;
}

#confirm_note:hover, confirm_note:focus{
    cursor: pointer;
    background-color: var(--sepia);
    color:black;
}

.note{
    white-space: pre-wrap;
    padding: calc(var(--space-1) / 2);
    margin-bottom: calc(var(--space-1) / 2);
    border: 1px dashed black;
    text-transform: uppercase;
    font-size: 100%;
}

.note-item{
    position: relative;

}

.note-item:hover{
    background-color: black;
    color: white;
}

.note::before{
    content: "\f111";
    font-family: 'Font Awesome\ 5 Free';
    font-size:50%;
    font-weight:bold;
    vertical-align: top;
    padding-right:calc(var(--space-1) / 2);
    color: var(--sepia);
}

/* .note-item:hover:before,.note-item:active:before {
    color:var(--sepia);
    background-color: white;
} */

.del{
    position: absolute;
    background-color: var(--sepia);
    border-radius: 30px;
    padding: 1px;
    color: black;
}

.del {
    right:-10;
    top:-10;  
}
.del:hover{
    color:var(--sepia);
    background-color: black;
}

/* ========================================================================== */



/* Typography =============================================================== */

.oswald {
    font-family: "Oswald", sans-serif;
    font-size: bold;
    text-transform: uppercase;
}

.main-title {
    font-size: var(--space-2);
}

.sepia {
    color: var(--sepia);
}

/* ========================================================================== */




/* Tooltip ================================================================== */

.tooltip {
    position: relative;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    font-family: var(--oswald)!important;
    /* Position the tooltip */
    position: absolute;
    top:-80px;
    z-index: 999;
    line-height: 200%;

    border:1px dashed white;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
/* ========================================================================== */



.mx1px{
    margin-left: 5px; 
    margin-right:5px;
}

.cursor-pointer:hover{
    cursor: pointer;
}
#video{
    margin: var(--space-4) auto;
}
    

/* UI Button Jquery overwrite =============================================== */
.ui-button, .i-widget{
    background-color: black !important;
    color:white!important;
}


.ui-widget{
    font-family: var(--oswald)!important;
    text-transform:uppercase;
}

.ui-dialog-titlebar{
    color: white!important;
    background-color: black!important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-bottom-left-radius:none !important;
    border-bottom-right-radius:none !important;
    border-top-right-radius:none !important;
    border-top-right-radius:none !important;
}